<!DOCTYPE html>
<html>
  <head>
    <title>Amajon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.whitelogoURL = "<%= image_url('amajon_logo_white.png') %>";
    window.blacklogoURL = "<%= image_url('amajon_logo_black.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
