<!DOCTYPE html>
<html>
  <head>
    <title>Amajon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="apple-touch-icon" sizes="180x180" href="../../../public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../public/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest"> %>
    <link rel="icon" type="image/x-icon" href="https://see.fontimg.com/api/renderfont4/GOKLO/eyJyIjoiZnMiLCJoIjoyMDgsInciOjIwMDAsImZzIjoxMDQsImZnYyI6IiMxNjE2MTciLCJiZ2MiOiIjRkJGREZGIiwidCI6MX0/YQ/annyeong-haseyo.png">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.whitelogoURL = "<%= image_url('amajon_logo_white.png') %>";
    window.blacklogoURL = "<%= image_url('amajon_logo_black.png') %>";
    window.background1URL = "<%= image_url('background/background1.jpg') %>"
    window.background2URL = "<%= image_url('background/background2.jpg') %>"
    window.background3URL = "<%= image_url('background/background3.jpg') %>"
    window.background4URL = "<%= image_url('background/background4.jpg') %>"
    window.background5URL = "<%= image_url('background/background5.jpg') %>"
    window.background6URL = "<%= image_url('background/background6.jpg') %>"
    window.background7URL = "<%= image_url('background/background7.jpg') %>"
    window.background8URL = "<%= image_url('background/background8.jpg') %>"
    window.p1Url = "<%= image_url('department_images/p1.jpg') %>"
    window.p2Url = "<%= image_url('department_images/p2.jpg') %>"
    window.p3Url = "<%= image_url('department_images/p3.jpg') %>"
    window.p4Url = "<%= image_url('department_images/p4.jpg') %>"
    window.p5Url = "<%= image_url('department_images/p5.jpg') %>"
    window.p6Url = "<%= image_url('department_images/p6.jpg') %>"
    window.p7Url = "<%= image_url('department_images/p7.jpg') %>"
    window.p8Url = "<%= image_url('department_images/p8.jpg') %>"
    window.p9Url = "<%= image_url('department_images/p9.jpg') %>"
    window.p10Url = "<%= image_url('department_images/p10.jpg') %>"
    window.p11Url = "<%= image_url('department_images/p11.jpg') %>"
    window.p12Url = "<%= image_url('department_images/p12.jpg') %>"
    window.p13Url = "<%= image_url('department_images/p13.jpg') %>"
    window.p14Url = "<%= image_url('department_images/p14.jpg') %>"
    window.p15Url = "<%= image_url('department_images/p15.jpg') %>"
    window.p16Url = "<%= image_url('department_images/p16.jpg') %>"
    window.p17Url = "<%= image_url('department_images/p17.jpg') %>"
    window.p18Url = "<%= image_url('department_images/p18.jpg') %>"
    window.p19Url = "<%= image_url('department_images/p19.jpg') %>"
    window.p20Url = "<%= image_url('department_images/p20.jpg') %>"
    window.p21Url = "<%= image_url('department_images/p21.jpg') %>"
    window.p22Url = "<%= image_url('department_images/p22.jpg') %>"
    window.p23Url = "<%= image_url('department_images/p23.jpg') %>"
    window.p24Url = "<%= image_url('department_images/p24.jpg') %>"
    window.p25Url = "<%= image_url('department_images/p25.webp') %>"
    window.p26Url = "<%= image_url('department_images/p26.jpg') %>"
    window.p27Url = "<%= image_url('department_images/p27.jpg') %>"
    window.p28Url = "<%= image_url('department_images/p28.jpg') %>"
    window.p29Url = "<%= image_url('department_images/p29.jpg') %>"
    window.p30Url = "<%= image_url('department_images/p30.jpg') %>"
    window.p31Url = "<%= image_url('department_images/p31.jpg') %>"
    window.p32Url = "<%= image_url('department_images/p32.jpg') %>"
    window.p33Url = "<%= image_url('department_images/p33.jpg') %>"
    window.p34Url = "<%= image_url('department_images/p34.jpg') %>"
    window.p35Url = "<%= image_url('department_images/p35.jpg') %>"
    window.p36Url = "<%= image_url('department_images/p36.jpg') %>"
    window.cartUrl = "<%= image_url('cart.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
