<!DOCTYPE html>
<html>
  <head>
    <title>Amajon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.whitelogoURL = "<%= image_url('amajon_logo_white.png') %>";
    window.blacklogoURL = "<%= image_url('amajon_logo_black.png') %>";
    window.longproductURL = "<%= image_url('long_product.jpg') %>"
    window.squareproductURL = "<%= image_url('square_product.jpeg') %>"
    window.flatproductURL = "<%= image_url('flat_product.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
