<!DOCTYPE html>
<html>
  <head>
    <title>Amajon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.whitelogoURL = "<%= image_url('amajon_logo_white.png') %>";
    window.blacklogoURL = "<%= image_url('amajon_logo_black.png') %>";
    window.longproductURL = "<%= image_url('long_product.jpg') %>"
    window.squareproductURL = "<%= image_url('square_product.webp') %>"
    window.flatproductURL = "<%= image_url('flat_product.jpg') %>"
    window.background1URL = "<%= image_url('background1.jpg') %>"
    window.background2URL = "<%= image_url('background2.jpg') %>"
    window.background3URL = "<%= image_url('background3.jpg') %>"
    window.background4URL = "<%= image_url('background4.jpg') %>"
    window.background5URL = "<%= image_url('background5.jpg') %>"
    window.background6URL = "<%= image_url('background6.jpg') %>"
    window.background7URL = "<%= image_url('background7.jpg') %>"
    window.background8URL = "<%= image_url('background8.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
